<footer class="page-wrap">
	<div>
    		<div id="social-icons">
	    		<!--<a class="icon-gplus" href="#">Google+</a>
	    		<a class="icon-fb" href="#">Facebook</a>-->
	    		<a class="icon-twitter" href="https://twitter.com/codewithpassion">Twi#tter</a>
	    		<!-- <a class="icon-pinterest" href="#">Pinterest</a> -->
	    		<!-- <a class="icon-youtube" href="#">YouTube</a> -->
	    		<a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
		</div>

    		<div id="copyrights">
         		<section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         		<section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a><br>
			Theme based on <a href="https://github.com/GavickPro/Perfetta-Free-Ghost-Theme">Perfetta</a></section>
    		</div>
	<div>
</footer>
